<div>
    <p>英語の勉強に発音記号は不可欠！</p>
    <p>確認してみよう！</p>

   
    <%= link_to "戻る", root_path, class: "btn btn-lg btn-primary" %> 
    
    <% if logged_in? %>
        <button class="btn btn-primary">保存</button>
    <% else %>
        <p>会員登録をすると以下のことができるようになります</p>
        <p> 英単語・発音記号を保存する</p>
        <p> 保存したファイルの閲覧</p>
        <p>会員登録は無料でできます</p>
        <p>ログインボタンから会員登録をしよう</p>
        <div class="form-group row">
            <label class="col-sm-2">既に登録済の方→</label>
            <div class="col-sm-10">
               <%= link_to "ログイン", signup_path, class: "btn btn-lg btn-primary" %> 
            </div>
        
        </div>
    <% end %>
</div>
